{% extends "layout.html" %}
{% block title %}ABOUT PAGE{%endblock%}
{% block body%} 

    <h1> ABOUT MAALAN'S HOBBY</h1>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam repellat quos molestias voluptatibus! Repellendus, porro vel. Officia excepturi, ea asperiores consequatur eligendi itaque ut expedita a consequuntur repudiandae non in obcaecati architecto. Saepe consequatur natus sit ipsa, perferendis quidem vero dicta itaque sapiente quos quisquam architecto aut cupiditate odio minima illo, nam, iusto nesciunt error? Ab, nostrum consequatur provident qui iste doloribus deleniti a eius cupiditate porro debitis veritatis. Laudantium beatae suscipit minima vero distinctio atque iusto blanditiis necessitatibus est repellat voluptates quod, debitis eos, eligendi nostrum dignissimos natus aspernatur, quo provident magni. In harum velit ad dolorem? Quos, amet?

    </p>
{% endblock %}